{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "airbnb-base",
        "prettier",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "import/prefer-default-export": "off",
        "import/no-default-export": "error",
        "indent": ["error", 4],
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "@typescript-eslint/explicit-module-boundary-types": "off",
        /** Fixes `Require statement not part of import statement` error */
        "@typescript-eslint/no-var-requires": 0,
        /** Fixes `Unexpected require()` */
        "global-require": 0
    },
    "overrides": [
        {
            "files": ["*.ts"],
            "rules": {
                "@typescript-eslint/explicit-module-boundary-types": ["error"]
            }
        }
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    },
    "ignorePatterns": ["webpack.config.js"]
}
