<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>html-boilerplate</title>
        <link rel="stylesheet" href="assets/css/vendor/normalize.css">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <header class="page-header header">
            <div class="container">
                <h1 class="header-title">html-boilerplate</h1>
            </div>
        </header>
        <script src="assets/js/bundle.js"></script>
    </body>
</html>