.header {
    padding: 20px 0;

    border-bottom: 1px solid rgba($color-black, .1);
    background-color: $color-black;

    &-title {
        margin: 0;

        font-size: 28px;
        line-height: 1;
        color: $color-white;
        text-transform: uppercase;
    }
}
