<section class="example">
    <div class="container">
        <h2>example module</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis harum laudantium architecto aliquam! Accusamus, cupiditate? Omnis provident neque dicta autem nobis placeat. Corporis excepturi consequatur officiis sint libero deleniti.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, dolorem atque facere exercitationem temporibus laboriosam perferendis omnis a illum, voluptatibus ea expedita. Ut nisi fugit recusandae modi fuga deleniti voluptate? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nostrum porro a rerum temporibus iste optio? Eius dolores quos debitis animi deserunt. Natus ad blanditiis corporis sed at, eos quaerat.</p>
    </div>
</section>